body {
	background-color: #ffffff;
	background-image:url(../../shrd/background-image.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
	font-family: Helvetica;
}

p, body {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	line-height: 28px;
	font-weight:normal;
}

h4 {
	font-size: 14px;
	line-height: 18px;
}

a {
	color: #bf1f1f;
	text-decoration: none;
}

a:hover {
	color: #bf1f1f;
	text-decoration: underline;
}

a:active {
	color: #ff6f6f;
	text-decoration: none;
}

.midpage {
	width:100%;
	max-width: 560px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.headericon {
	width: 36px;
	height: 36px;
	vertical-align: bottom;
}

.above {
	padding: 0px 20px 00px 20px;
	margin-left:-20px;
	width: 100%;
	position: fixed;
	background-color:#ffc9c9;
	top:0;
}

.below {
	padding: 20px 20px 20px 20px;
	margin-left:-20px;
	width: 100%;
	position: fixed;
	background-color:#ffc9c9;
	bottom:0;
}